/*
 * Author: Yash Patel
 * Email: yash_patel2@student.uml.edu
 * File: style.css
 *
 * Description:
 *  Assignmnet #6 -- Creating an Interactive Dynamic Table
 *  This css style is used to to style a webpage that takes 
 *  in 4 values and creates a multiplcation table. The table
 *  will have a checkered pattern.
 */
 
html{
    background-color: #000000;
    height:100%;
}

body {
    background-color: #ffffff;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    color: #333333;
    margin: 0 auto;
    max-width: 960px;
    min-height: 100%;
    min-width: 700px;
    padding: 20px;
    width: 65%;
}

h1{
    text-align:center;
}

h5{
    text-align:center;
}

#form input{
    margin: 10px;
}

/* Styling for the multiplier form */
#left {
    float:left;
    width:50%;
}

/* Styling for the multiplicand form */
#right {
    float:right;
    width:50%;
}

#table {
    border-collapse: collapse;
    max-height: 500px;
    outline: 1px solid #000000;
    overflow: auto;
    text-align: center;
    width: 100%;
}

#table tr:nth-child(even) td:nth-child(odd),
#table tr:nth-child(odd) td:nth-child(even) {
    /* Color every other td cell */
    background-color: #ff0000 ; /* Red */
}

#table th {
    background-color: #000080; /* Navy Blue */
    color: #ffffff; 
}

#table th, #table td {
    border: 2px solid #ffffff;
    padding: 0.8em;
}
